# ---------------------------
# Python
# ---------------------------
__pycache__/
*.pyc
*.pyo
*.pyd

# ---------------------------
# Virtual Environment
# ---------------------------
venv/
env/

# ---------------------------
# Jupyter
# ---------------------------
.ipynb_checkpoints/

# ---------------------------
# ML Models
# ---------------------------
*.pt
*.pth

# ---------------------------
# Data (IMPORTANT)
# ---------------------------
data/raw/images/
data/raw/*.csv

# ---------------------------
# Logs
# ---------------------------
wandb/
mlruns/
*.log

# ---------------------------
# OS Files
# ---------------------------
.DS_Store

# ---------------------------
# Streamlit
# ---------------------------
.streamlit/

data/
wandb/
mlruns/
*.pt
venv/